[2020-10-26 02:16] adityabisoi opened #1 "Add PATCH method"
Currently, the project supports the following operations: `GET`

Add `PATCH` method to the existing `/users` endpoint.

The method should not manipulate the data in the database. It should send the same data that is incoming, with a positive response code.

[2020-10-26 02:24] adityabisoi opened #2 "Add issue template: bug report"
Add an issue template for reporting bugs in the project.

[2020-10-26 02:25] adityabisoi opened #3 "Add issue template: feature request"
Add an issue template for requesting new features in the project.

[2020-10-26 02:27] adityabisoi opened #4 "Add pull request template"
Add a pull request template to the project.

[2020-10-26 02:30] adityabisoi opened #5 "populate /users endpoint"
Populate `/users` endpoint with **fake** data

[2020-12-04 11:43] subhangi2731 commented on #3
Please assign this issue to me? @adityabisoi

[2020-12-04 11:43] subhangi2731 commented on #4
Can I work on this? @adityabisoi

[2020-12-04 11:47] adityabisoi commented on #4
@subhangi2731 Go ahead

[2020-12-04 11:47] adityabisoi commented on #3
@subhangi2731 One issue at a time

[2020-12-06 14:45] paramsiddharth commented on #5
Does this involve storing fake data in a separate file and inserting it via Mongoose at deployment?

[2020-12-06 17:27] adityabisoi commented on #5
@paramsiddharth Yes.

[2021-01-01 13:52] tejan-singh opened #7 "add code_of_conduct.md file to repository"
- code_of_conduct.md file is missing in the repository. I would like to add one.

[2021-01-01 13:52] tejan-singh opened #8 "add contributing.md file to repository"
- I would like to add a contributing.md file to the repository consisting of all general and necessary guidelines.

[2021-01-02 01:15] adityabisoi commented on #8
@tejan-singh Please work on the other issue first, you will be assigned this after resolving that.

[2021-01-02 16:06] #7 closed

[2021-01-02 16:06] #8 closed

[2021-02-17 09:47] codewithvk commented on #2
Can you assign me @adityabisoi? ,

I will make PR When GSSOC starts.

[2021-03-01 04:43] kaushik-rishi commented on #1
I would like to work on this issue one girlscript SoC starts.

[2021-03-06 06:00] subhangi2731 commented on #5
Can you please assign this issue to me @adityabisoi I want to work on this

[2021-03-06 06:01] subhangi2731 commented on #4
Can you assign this issue to me for gssoc @adityabisoi

[2021-03-06 07:20] adityabisoi commented on #4
@subhangi2731 go ahead

[2021-03-06 07:20] adityabisoi commented on #5
@subhangi2731 One issue at a time.

[2021-03-08 13:10] Sukriti-sood commented on #5
@adityabisoi Can you assign it to me

[2021-03-08 13:40] kaushik-rishi commented on #1
@adityabisoi Should the patch request actually change the resource in the DB or just check if a user with that id exists in  the DB and return the patched version based on the constrains ?

[2021-03-08 13:40] kaushik-rishi commented on #1
I'd like to work on this issue @adityabisoi

[2021-03-08 15:05] adityabisoi commented on #1
@kaushik-rishi None of the methods should actually change the date on the DB.

[2021-03-08 15:12] adityabisoi commented on #5
@Sukriti-sood Go ahead

[2021-03-08 15:40] kaushik-rishi commented on #1
Got it. Will work on this.

[2021-03-08 19:27] namansamra commented on #1
I would like to work on this please assign it to me.

[2021-03-08 19:47] Anjali041 commented on #3
Please assign this to me. I am GSSoC participant.

[2021-03-08 20:25] Faizanrz7 commented on #5
@adityabisoi Can you assign it to me as a part of gssoc'21 ?

[2021-03-09 10:11] noob-26 opened #11 "Adding POST Method To add a new User"
I want to implement the feature of adding the POST method to add a new user to the database.

[2021-03-09 10:45] kaushik-rishi commented on #1
@adityabisoi Any particular reason for using `promises` over `async await`?

[2021-03-09 13:59] adityabisoi commented on #1
@namansamra This issue is already assigned. Please take up a different one.

[2021-03-09 14:02] adityabisoi commented on #1
@kaushik-rishi Please ask your queries in the discord server.

[2021-03-09 14:04] adityabisoi commented on #11
The method is already implemented.

[2021-03-09 14:04] #11 closed

[2021-03-09 14:05] adityabisoi commented on #3
@Anjali041 Go ahead

[2021-03-09 14:18] kaushik-rishi commented on #1
Okay. I couldn't find your ID I'll just ask in the projects section @adityabisoi

[2021-03-09 14:27] adityabisoi commented on #1
Otherwise, you can start a discussion here https://github.com/adityabisoi/REST-fetch/discussions

[2021-03-09 15:17] rithgan commented on #2
Hey, can this issue be assigned to me for gssoc? I noticed it was already assigned but there are no latest updates.

[2021-03-09 15:23] adityabisoi commented on #2
@codewithvk Are you working on this?

[2021-03-09 15:29] rithgan opened #12 "Form to create new users"
I think the project needs a form on a '/new' route to add(post) new users to the database. I am submitting wrt gssoc.

[2021-03-09 15:30] rithgan commented on #12
If this issue gets approved I would also like it to be assigned to me

[2021-03-09 16:35] kartikpuri99 opened #13 "Create a update user endpoint"
I am a participant of GSSOC'21 and want to work on this issue.So there are endpoints for fetch,create,delete user I want to create a endpoint for updating a specific user.Kindly assign this issue to me

[2021-03-10 16:09] ShauryaAg opened #16 "Dockerize the whole setup"
### Description
 Currently, the setup consists of npm dependencies and mongodb to run the whole setup. MongoDB is required to download and setup separately. Dockerizing the whole setup will make it easier to focus on the development part and less on setting up.

Requirements:
- [ ] Create a Dockerfile to install npm dependencies and run the API
- [ ] Create a Dockerfile to setup MongoDB
- [ ] Crea

[2021-03-10 16:16] ShauryaAg opened #17 "Add ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE to the repository"
Currently, the issues created can be absurd and may contain little to no information about it.
The pull requests have the same problem.

Add templates for both of them so that user knows what information to include while creating an issue or a pull request.

Requirements:
- [ ] Add template for Issues.
- [ ] Add template for pull requests.

[2021-03-10 16:55] adityabisoi opened #19 "Remove functions which involve data manipulation"
We need to provide placeholder data to users, which should not be writable in any way. The data should be read-only.

Remove the `POST` and `DELETE` functionalities.

[2021-03-10 16:56] subhangi2731 commented on #19
please assign this issue to me

[2021-03-10 16:56] adityabisoi commented on #19
@subhangi2731 Sure, please go ahead :)

[2021-03-10 19:25] hrushikesh-git commented on #13
@adityabisoi  hi I have following you on GitHub for 1 year really impressed by your work. Please assign me this issue I want to work on it as GSSOC'20 participant

[2021-03-10 19:26] hrushikesh-git commented on #12
@adityabisoi I would be glad if you assigned this issue to me and let me work on it

[2021-03-11 02:24] adityabisoi commented on #17
Issues for the issue template have already been created. Only include `PULL_REQUEST_TEMPLATE` in this issue.

[2021-03-11 07:04] adityabisoi commented on #17
Related issues are already created. Closing this.

[2021-03-11 07:04] #17 closed

[2021-03-11 07:05] #3 closed

[2021-03-11 07:09] adityabisoi commented on #13
@kartikpuri99 Please got through the documentation in detail to understand the use-case of the application. This is a REST API service which must provide placeholder and API testing capabilities. We cannot allow users to change the data through DELETE, UPDATE or PATCH requests. Closing the issue now.

[2021-03-11 07:10] adityabisoi commented on #13
@hrushikesh-git Thank you, since the issue is not in alignment with the scope of the application, please comment on a different issue. In case of any doubts, you can reach out to me, or mentors in the discord project server.

[2021-03-11 07:10] #13 closed

[2021-03-11 07:18] adityabisoi commented on #2
@rithgan Go ahead

[2021-03-11 07:19] adityabisoi commented on #1
@kaushik-rishi I am closing the issue since the issue is outside the scope of the project, and assigning you a new one.

[2021-03-11 07:20] adityabisoi opened #20 "Remove bodyParser"
Remove the deprecated `bodyParser` dependency.

[2021-03-11 07:21] rithgan commented on #20
Can you assign this to me?

[2021-03-11 07:21] adityabisoi commented on #1
@kaushik-rishi Are you working on this?

[2021-03-11 07:22] rithgan commented on #12
@adityabisoi You have yet to assign this issue to me. Please do. I requested 2 days ago.

[2021-03-11 07:22] adityabisoi commented on #20
@rithgan One issue at a time.

[2021-03-11 07:23] #4 closed

[2021-03-11 07:24] rithgan commented on #20
@adityabisoi Okay thanks

[2021-03-11 07:24] adityabisoi commented on #12
The user should not have any method to manipulate the data on the server. The data on endpoints should be static and read-only.

[2021-03-11 07:24] adityabisoi commented on #12
Please read the documentation for more instructions.

[2021-03-11 07:24] #12 closed

[2021-03-11 07:26] kartikpuri99 commented on #20
Please assign it to me.

[2021-03-11 07:41] adityabisoi opened #21 "Create homepage"
Create a homepage for the application, to show the supported endpoints of the application.

Note: Use a NodeJS templating engine, preferably Handlebars.

[2021-03-11 07:49] adityabisoi opened #22 "Add a /comments endpoint"
Add a `/comments` endpoint with a `GET` support, which should hold data as seen in comments on social media.

The fields should be `profile` with a hosted picture link, `name`, and `comment` with demo comments.

Hitting the endpoint `https://rest-fetch.herokuapp.com/comments/` must get the placeholder data.

Add 10 such demo data to the endpoint. The data should be provided as a JSON file, which w

[2021-03-11 07:50] adityabisoi opened #23 "Add a /photos endpoint"
Add a `/photos` endpoint with a `GET` support.

The fields should be `picture` with a hosted picture link, and `name` with demo names.

Hitting the endpoint `https://rest-fetch.herokuapp.com/photos/` must get the placeholder data.

Add 10 such demo data to the endpoint. The data should be provided as a JSON file, which would be imported at production.

[2021-03-11 07:51] adityabisoi opened #24 "Add a /tasks endpoint"
Add a `/tasks` endpoint with a `GET` support.

The fields should be `task_name` with names of some everyday tasks, and `details` with the details of the task to be done.

Hitting the endpoint `https://rest-fetch.herokuapp.com/tasks/` must get the placeholder data.

Add 10 such demo data to the endpoint. The data should be provided as a JSON file, which would be imported at production.

[2021-03-11 08:07] rithgan commented on #24
Can I work on this?

[2021-03-11 08:08] rithgan commented on #21
I think pug or ejs would be better. Any specific reason for using handlebars?

[2021-03-11 08:26] kaushik-rishi commented on #1
Yes. I'm working on this.
But I need to add some fake user data which is a part of another issue which isn't resolved yet, So i made a 100 fake unique users.
I'll add the method soon.

[2021-03-11 11:08] AnshMishra2001 commented on #23
Can I work on this issue?

[2021-03-11 12:23] adityabisoi commented on #21
No, I said `preferably`.

[2021-03-11 13:00] Anjali041 opened #28 "Pull request template not working"
I think the .github folder is wrongly name as ,github. So the templates will not work. Allow me to fix this.
#Gssoc'21

[2021-03-11 13:13] adityabisoi commented on #28
Sure

[2021-03-11 16:24] subhangi2731 commented on #19
Sure I will

[2021-03-11 17:11] ahk4815 commented on #22
@adityabisoi can i work on this?

[2021-03-11 19:49] jain-rishabh-21 commented on #21
Please assign it to me.
Discord username: krackerzzz#4371

[2021-03-11 19:49] jain-rishabh-21 commented on #16
Assign it to me.
Discord username: krackerzzz#4371

[2021-03-11 20:18] ShauryaAg commented on #16
@jain-rishabh-21 Sure.

[2021-03-12 13:37] rohank2502 opened #30 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:37] rohank2502 opened #31 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 17:21] adityabisoi commented on #30
@rohank2502 That would be great! Go ahead!

[2021-03-12 17:21] adityabisoi commented on #31
Complete the previous issue first!

[2021-03-12 17:22] adityabisoi commented on #22
@ahk4815 Sure, go ahead

[2021-03-12 17:22] adityabisoi commented on #21
@jain-rishabh-21 Sure, go ahead!

[2021-03-12 17:40] #28 closed

[2021-03-12 17:43] #2 closed

[2021-03-12 17:43] #19 closed

[2021-03-12 22:07] flyingsonu122 opened #33 "application error"
**Describe the bug -**
hosted application is not running

**Screenshots or screen recordings -**

![image](https://user-images.githubusercontent.com/51280276/111003521-4f6c2380-83ad-11eb-92df-be8f01c272a4.png)

[2021-03-13 02:48] adityabisoi commented on #33
Bug fixed. Thanks for reporting!

[2021-03-13 02:48] #33 closed

[2021-03-13 03:09] adityabisoi opened #34 "Write unit tests"
**Describe the feature**
Write unit tests for the methods supported across the `/users` endpoint.

[2021-03-13 06:35] subhangi2731 commented on #34
can you please assign this to me?

[2021-03-13 11:04] khareyash05 opened #35 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 11:46] #20 closed

[2021-03-13 17:21] adityabisoi opened #37 "Add POST method"
Add `POST` method to `/users` endpoint.

The method **should not** allow the request to manipulate any data on the database. Instead, the data sent by the user should be returned exactly as it is, with an additional field `timestamp` with the current timestamp, and a positive response code `200`

[2021-03-13 17:30] rohank2502 commented on #30
Which tech stacks will you like to get updated ?

[2021-03-13 18:17] adityabisoi commented on #30
@rohank2502 It would be convenient if discussions are done in the Discord server!

[2021-03-13 18:31] EANimesha commented on #37
I am a gssoc participant. I like to work on this issue.

[2021-03-13 22:32] Bik-Krlvn commented on #37
I'll like to work on this

[2021-03-13 22:36] Bik-Krlvn commented on #16
I'll like to be assign if progress is stale

[2021-03-13 23:27] jain-rishabh-21 commented on #16
I am working on it @Bik-Krlvn ! Mp will raise a PR by tommorow!

[2021-03-14 01:49] adityabisoi commented on #37
@Bik-Krlvn This issue is taken already!

[2021-03-14 04:43] #35 closed

[2021-03-14 04:57] subhangi2731 commented on #34
can you please help me i have a doubt in this

[2021-03-14 04:58] adityabisoi commented on #34
Discussions in discord channel

[2021-03-14 17:39] adityabisoi opened #40 "Add PATCH method"
Add `PATCH` method to `/users` endpoint.

The method **should not** allow the request to manipulate any data on the database. Instead, the data sent by the user should be returned exactly as it is, with an additional field `timestamp` with the current timestamp, and a positive response code `200`

[2021-03-14 17:40] subhangi2731 commented on #40
can you assign this to me?

[2021-03-14 17:40] adityabisoi commented on #40
@subhangi2731 Sure go ahead

[2021-03-15 09:31] Sukriti-sood commented on #5
@adityabisoi I have made changes in PR ,Please have a look again

[2021-03-15 10:39] rohank2502 commented on #31
Sorry For delay I have done the PR Please have a look for that

[2021-03-15 12:58] adityabisoi commented on #31
@rohank2502 You can go ahead

[2021-03-16 12:31] EANimesha commented on #23
still working on the issue? if you never mind, I like to work on it?

[2021-03-16 13:22] adityabisoi commented on #23
@AnshMishra2001 Are you on this?

[2021-03-16 14:27] AnshMishra2001 commented on #23
Yes

[2021-03-16 20:00] ritik307 opened #43 "[GSSOC'21] Improve README.md"
**Describe the feature**
Improving README.md with proper documentation and appealing UI

**Is your feature request related to a problem? Please describe.** :bulb:
A clear and concise description of what the problem is.

**Describe the solution you'd like** :zap:
Would like to improve the documentation as it still has some knowledge gaps in understanding the project and also would like to make it a

[2021-03-16 20:01] ritik307 commented on #43
@adityabisoi  I would like to work on this feature. Kindly assign me this issue

[2021-03-17 02:19] adityabisoi commented on #43
@ritik307 Sure, make the README as nice as possible!

[2021-03-17 05:58] ritik307 commented on #43
@adityabisoi thanks! will start working on it right away.

[2021-03-17 10:11] ahk4815 commented on #22
for accessing the request body in post requests, body parser module was required. Installing other modules is allowed @adityabisoi ?

[2021-03-17 10:40] ahk4815 commented on #22
The profile should be a hosted picture link, so what sort of link do i need to give here ? for example google link of an image will work?

[2021-03-17 18:06] ShauryaAg opened #45 "Move all the models into a separate directory"
Currently, the user models lies in `api/routes` folder. A separate directory should be created for all the models

Requirements:
- [ ] Move `user.ts` in a separate `models/` directory.
- [ ] Fix all the `user` imports

[2021-03-17 18:09] Samridhi-98 commented on #45
I would like to work on this issue, will you please assign me this.

[2021-03-17 18:18] ShauryaAg commented on #45
@Samridhi-98 Sure. Go ahead.

[2021-03-17 18:20] Samridhi-98 commented on #45
Thank you.

[2021-03-18 04:33] adityabisoi commented on #22
Discussions should rather be done in the Discord channel. This helps the threads here stay clean.

[2021-03-18 12:53] #31 closed

[2021-03-18 12:53] #30 closed

[2021-03-18 13:22] ShauryaAg commented on #23
@AnshMishra2001 Please make a PR by tonight or you will unassigned. If you have any doubts feel free to ask them on the discord server.

[2021-03-18 13:24] ShauryaAg commented on #21
@jain-rishabh-21 Please make a PR by tonight or you will unassigned. If you have any doubts feel free to ask them on the discord server.

[2021-03-18 13:25] ShauryaAg commented on #40
@subhangi2731 Please make a PR by tomorrow or you will unassigned. If you have any doubts feel free to ask them on the discord server.

[2021-03-18 14:20] jain-rishabh-21 commented on #21
Hey @ShauryaAg Was working on the dockerizing issue! Will resolve it in a day or two!

[2021-03-18 16:29] EANimesha opened #50 "Add Users Delete endpoints"
**Add User Delete endpoints**

- Add a users/:id endpoint with DELETE support.

**Are you working on this feature? Yes**
Please assign it to me

[2021-03-18 17:43] adityabisoi commented on #50
I do not think getting users by ID would be necessary in any way. The `DELETE` method should be implemented. But as mentioned clearly in the documentation, it should not manipulate the data on database. So the method should fake the deletion. Implement on the `/users` endpoint, returning an empty string and `204` code.

[2021-03-19 16:10] subhangi2731 commented on #40
I will make the pr by today

[2021-03-19 16:32] adityabisoi commented on #40
Sure.

[2021-03-20 12:44] #5 closed

[2021-03-20 13:10] #16 closed

[2021-03-20 15:10] #45 closed

[2021-03-20 16:17] ritik307 commented on #21
@adityabisoi @ShauryaAg anyone working on this issue. If not then I am interested in working on this issue. Please assign.

[2021-03-20 18:43] rithgan commented on #24
Why is this issue still open if it got merged?

[2021-03-21 02:16] #24 closed

[2021-03-21 12:58] #40 closed

[2021-03-21 19:47] #43 closed

[2021-03-22 08:59] ahk4815 commented on #22
https://github.com/adityabisoi/REST-fetch/pull/54
The PR for this issue has been added @adityabisoi

[2021-03-24 13:31] adityabisoi commented on #21
Unassigning @jain-rishabh-21 Assigning to @ritik307

[2021-03-24 13:32] adityabisoi commented on #23
Unassigning @AnshMishra2001 due to inactivity. This issue is open for new contributors.

[2021-03-24 13:32] ritik307 commented on #21
@adityabisoi thanks 🎉

[2021-03-24 13:33] adityabisoi commented on #1
Unassigning @kaushik-rishi due to inactivity. This issue is open for new contributors.

[2021-03-24 14:24] EANimesha commented on #23
Can I work on this issue?

[2021-03-25 03:12] paramsiddharth opened #57 "Add local MongoDB setup instructions"
Update `README.md` with instructions on how to set up a local MongoDB server instead of using an Atlas URI for development. This will speed up development by avoiding the need of an active Internet connection for database access.

Make sure to include command-line instructions on setting up a server using the Mongo Daemon (`mongod`).

[2021-03-25 03:16] paramsiddharth opened #58 "Extend the /tasks endpoint"
- The endpoint should be able to return a task at a given index. For an invalid index, return an error message.
[code]
- The endpoint should allow returning a the specified number of tasks as and if specified in the `count` parameter. If specified, an array must be returned.
[code]
  If no task index is specified, start from index 0 by default.
[code]

[2021-03-25 06:02] AshuKV commented on #57
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-25 09:41] paramsiddharth commented on #57
Sure! Go ahead, @AshuKV .

[2021-03-25 10:21] Samridhi-98 commented on #58
I would like to work on this issue, will you please assign me.

[2021-03-25 14:41] paramsiddharth commented on #58
OK! Assigned, @Samridhi-98 . Go ahead.

[2021-03-25 14:45] Samridhi-98 commented on #58
Thank you!

[2021-03-26 07:46] ritik307 commented on #21
@adityabisoi can you give me a rough idea about how you want the page to look like? It will probably give me a little bit of clarity on how to approach.

[2021-03-26 07:59] adityabisoi commented on #21
@ritik307 The homepage should give a brief intro on the project, and show all the currently supported endpoints (both for testing and placeholder endpoints). By testing, I am referring to `/users/` endpoint which has different methods. The page should show the demo data that should be sent and the data/response that should be gotten back.

Further doubts, please ask in the discord server/ DMs.

[2021-03-26 08:12] ritik307 commented on #21
@adityabisoi got it 😊

[2021-03-26 14:56] muthuannamalai12 opened #59 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-27 05:14] paramsiddharth commented on #59
@muthuannamalai12 Please explain it further. And would you like it to be assigned to you?

[2021-03-27 05:16] paramsiddharth commented on #57
@AshuKV Are you still working on it?

[2021-03-27 07:00] muthuannamalai12 commented on #59
Whenever a user raises an issue GitHub action will automatically add the GSSOC21 label. I would love to work on this issue. Kindly assign it to me.

[2021-03-27 07:10] paramsiddharth commented on #59
Will it do that for all issues? Shouldn't it be selectively done only to issues that reference GSSoC'21?

[2021-03-27 09:03] muthuannamalai12 commented on #59
If they specify it as "gssoc","gssoc21","GSSOC21","GSSOC" in issue description the bot adds GSSOC21 label

[2021-03-27 12:47] paramsiddharth commented on #59
Sounds good to me. You may proceed.

[2021-03-27 17:25] chiragasawa opened #60 "Adding food items pictures and data"
Adding Json data for food items with pictures so that it can be used in food application. which can be get using GET method.

**Are you working on this feature? (Yes/No)**
Yes

[2021-03-28 02:45] AshuKV commented on #57
Hey @paramsiddharth I am still working on it, will push the code by today.

[2021-03-28 05:25] muthuannamalai12 opened #62 "Bug in Pull request Template"
The Pull Request Template does not show up when we create a pull request. I would love to work on this as a part of Girl Script Summer of Code and rectify it. Kindly assign it to me

[2021-03-28 07:22] paramsiddharth commented on #62
@muthuannamalai12 Thank you for the issue. You may proceed with a PR.

[2021-03-28 07:28] paramsiddharth commented on #60
@chiragasawa Thank you for the issue. Since this feature is related to the `/photos` endpoint, you must extend the same for this feature. Use `/photos/food`. Since this addition is especially for food items, make sure to add support for query parameters that allow the retrieval of a specific category of food. For example, `GET /photos/food?taste=spicy`. You may proceed.

[2021-03-28 07:33] paramsiddharth commented on #23
PR #56 resolves this issue.

[2021-03-28 07:33] #23 closed

[2021-03-30 05:14] paramsiddharth opened #66 "Create .editorconfig"
Create a `.editorconfig` to ensure consistency in the code-style throughout the project. The configuration should match the majority of files in the project, id est The indentation-type, size, whether or not the EOF newlines are present, what EOL sequence is being used, et cetera.

[![image](https://user-images.githubusercontent.com/30315706/112937158-cd1d8680-9144-11eb-860f-c1f62deabfb2.png)](htt

[2021-03-30 06:04] #50 closed

[2021-03-30 11:11] #59 closed

[2021-03-30 11:13] #62 closed

[2021-03-30 14:19] ShauryaAg opened #68 "Add eslint and prettier configuration file"
Define linting rules so that all the files are properly linted.

Requirements:
- [ ] Add `.eslintrc.json` and `.eslintignore` and add the linting rules
- [ ] Add `.prettierrc` and `.prettierignore` and add the linting rules
- [ ] Add `eslint` and `prettier` as `devDependencies` in `package.json`
- [ ] Add linting scripts to `package.json`

[2021-03-30 14:22] ShauryaAg opened #69 "Add pre-commit hooks for linting"
Add pre-commit hooks that runs linting before committing the file.

### Requirements:
 - [ ] Add `.pre-commit-config.yml` and define eslint and prettier hooks
 - [ ] Update the docs to install pre-commit hooks

### Reference:
- https://pre-commit.com/

[2021-03-30 16:40] chiragasawa commented on #60
Features has been added check the pull request and please merge my pull request.

[2021-03-31 13:20] ritik307 commented on #1
@adityabisoi hey, i would like to work on this issue.

[2021-03-31 13:22] Samridhi-98 commented on #69
I would like to work on this issue, will you please assign this to me.

[2021-03-31 14:43] ShauryaAg commented on #69
@Samridhi-98 Sure. You can work on this one, but please note this issue's PR will only be merged after #68 is done.

[2021-03-31 14:48] himanshu007-creator commented on #66
what are the coding standards?

[2021-03-31 14:51] #58 closed

[2021-03-31 14:52] paramsiddharth commented on #66
There aren't any at the moment! The contributor needs to generalize and infer that from the existing project files.

[2021-03-31 16:09] Samridhi-98 commented on #69
Okay, no problem.

[2021-04-01 03:55] paramsiddharth commented on #1
You can start working on it! :) You'll be assigned as soon as #64 is merged.

[2021-04-01 08:38] #21 closed

[2021-04-01 10:48] ritik307 commented on #1
@paramsiddharth my PR has been merged can plz you assign me this issue now?

[2021-04-01 12:56] paramsiddharth commented on #1
Done, @ritik307.

[2021-04-01 13:06] Samridhi-98 commented on #68
Please assign me this issue, I would like to work on it.

[2021-04-01 13:21] ShauryaAg commented on #68
@Samridhi-98 Sure. Go ahead.

[2021-04-01 13:37] Samridhi-98 commented on #68
Thank you.

[2021-04-02 02:55] #60 closed

[2021-04-02 06:37] rithgan commented on #69
Can i work on this if no one is assigned?

[2021-04-02 13:55] ShauryaAg commented on #69
@rithgan Sure. You can take it. @Samridhi-98 is working on another issue.

[2021-04-03 09:26] #68 closed

[2021-04-03 13:26] ShauryaAg opened #72 "Add github actions workflow to check linting"
Add a github actions workflow that checks if the committed files are passing the linting checking put in place.

Requirements:
- [ ] Add a `.github/workflows/linting.yml` file that runs linting checks for any push/PR.

It should run the lint script declared [here](https://github.com/adityabisoi/REST-fetch/blob/main/package.json#L9)

[2021-04-03 17:40] akshay1027 opened #74 "When clicked on "try it out" (on readme), redirected to wrong URL"
**Describe the bug -**
When clicked on "try it out" (on readme), redirected to the wrong URL,  a bracket is there at the end of the URL! Also, it helps if the link opens in another tab so that we can back to the codebase.

**Screenshots or screen recordings -**

![2021-04-03 (7)_LI](https://user-images.githubusercontent.com/65683151/113486635-8972a600-94d1-11eb-9696-66c38444e891.jpg)

[2021-04-03 18:14] akshay1027 commented on #74
i would like to solve this @ShauryaAg

[2021-04-03 19:03] ShauryaAg commented on #74
Sure @akshay1027. Go ahead.

[2021-04-03 20:48] #1 closed

[2021-04-04 07:03] AshuKV commented on #72
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-04 09:51] ShauryaAg commented on #72
@AshuKV Sure.

[2021-04-05 08:08] ritik307 commented on #22
@adityabisoi @paramsiddharth since the PR is pending for about 2 weeks, if no one is working on this issue can you kindly assign this to me.

[2021-04-05 09:22] ahk4815 commented on #22
I have updated the PR according to the changes requested @adityabisoi have a look

[2021-04-05 14:11] rithgan commented on #69
I have added the config file. There is a command on pre-commit which runs the prettier and eslint hooks on all the files. This will add the configuration as specified in prettier and eslint config files. Should I run this as well? This will cause indentation, whitespace like changes in all the files.

[2021-04-05 16:02] ShauryaAg commented on #69
@rithgan Sure.

[2021-04-05 16:40] ritik307 opened #76 "Cannot find module '../../views/data.js'"
**Describe the bug -**
A clear and concise description of what the bug is.

**Steps To Reproduce the behaviour -**

1. Open a terminal window.
2. execute the command: `npm run dev`

**Expected behaviour -**
Should be able to start the server.

**Screenshots or screen recordings -**

![bug-report](https://user-images.githubusercontent.com/22374829/113599033-a9ce6c00-965b-11eb-8e68-ea74da005d34.PNG)

[2021-04-05 16:41] ritik307 commented on #76
@paramsiddharth @ShauryaAg  I would like to fix the bug.

[2021-04-05 16:46] ShauryaAg commented on #76
Sure @ritik307. Go ahead!

[2021-04-05 17:00] #76 closed

[2021-04-05 17:09] Samridhi-98 opened #78 "Adding animals data and pictures"
**Describe the feature**
Adding JSON data for animals representing different animals with their breeds and images

**Are you working on this feature? (Yes)**

[2021-04-05 17:10] Samridhi-98 commented on #78
@ShauryaAg  @paramsiddharth  I would like to work on this issue will you please assign me this.

[2021-04-05 18:46] ritik307 commented on #78
@ShauryaAg why there is no tag on this issue ?

[2021-04-06 09:09] ritik307 opened #79 "Adding vehicles route that provides vehicles data"
**Describe the feature**
Provide vehicle data like vehicle name, manufacturer, type, colour and fuel.

**Describe the solution you'd like** :zap:
Add a new vehicle route.

**Are you working on this feature? (Yes)**

[2021-04-06 09:10] ritik307 commented on #79
@paramsiddharth @ShauryaAg Plz assign me this issue I would like to work on this feature.

[2021-04-07 13:50] #69 closed

[2021-04-07 13:51] #78 closed

[2021-04-07 15:57] #79 closed

[2021-04-08 15:53] ritik307 opened #84 "Add a /breeds and /pictures endpoint to animals route."
**Describe the feature**
Add an endpoint  `GET` breed of a particular animal in /animals route.
Add an endpoint  `GET` pictures of a particular animal in /animals route.

**Expected behaviour**
Return array of breeds of a particular animal.
Return array of pictures of a particular animal.

**Are you working on this feature? (Yes)**

[2021-04-08 15:53] Samridhi-98 opened #85 "Extend the /vehicles endpoint"
**Describe the feature**
Add endpoints like **GET**  `vehicles/2`,
Add endpoints like **GET** `vehicles?manufacturer=tata` .
`vehicles/2` will return 2 index record and `vehicles?manufacturer=tata`  will return manufacturer tata records from the JSON.

**Are you working on this feature? (Yes/No)**
Yes

[2021-04-08 15:54] ritik307 commented on #84
@ShauryaAg  I would like to add this feature will you plz assign me this issue.

[2021-04-08 15:55] Samridhi-98 commented on #85
@ShauryaAg  @paramsiddharth  I would like to add this feature, will you please assign it to me.

[2021-04-08 15:58] paramsiddharth commented on #85
@Samridhi-98 Go ahead!

[2021-04-08 16:28] paramsiddharth commented on #84
@ritik307 Go ahead!

[2021-04-09 05:36] #74 closed

[2021-04-11 08:36] rithgan commented on #66
Can i work on this?

[2021-04-11 09:39] paramsiddharth commented on #66
Yes, go ahead.

[2021-04-12 05:05] #84 closed

[2021-04-12 05:06] #85 closed

[2021-04-12 17:27] Samridhi-98 opened #90 "Update home page endpoints info"
**Describe the feature**
Update endpoints information on the home page.

**Tasks todo**
- [ ] Add `/foodphoto` with their additional params and query.
- [ ]  Add `/animals` with their additional params and query.
- [ ]  Add `/vehicles` with their additional params and query.

**Are you working on this feature? (Yes/No)**
Yes

[2021-04-12 17:28] ritik307 opened #91 "Adding endpoints to /photos"
**Describe the feature**
Adding index and fetch by group endpoints on /photos route.

**Describe the solution you'd like** :zap:
- [ ]  Add search by index endpoint that allows user to fetch photos based on their index.
- [ ]  Add group endpoint to photos that allow the user to fetch a certain number of photos from a particular index.

**Are you working on this feature? (Yes)**

[2021-04-12 17:28] Samridhi-98 commented on #90
@ShauryaAg  @paramsiddharth  I would like to work on it, please assign it to me.

[2021-04-12 17:29] ritik307 commented on #91
@paramsiddharth @ShauryaAg I would like to work on this feature so kindly assign me this issue.

[2021-04-12 17:33] ShauryaAg commented on #91
Sure @ritik307. Go ahead!

[2021-04-12 17:33] ShauryaAg commented on #90
Go ahead @Samridhi-98.

[2021-04-12 18:32] #66 closed

[2021-04-13 05:22] #34 closed

[2021-04-14 20:15] #91 closed

[2021-04-15 11:58] #90 closed

[2021-04-18 14:27] #22 closed

[2021-04-19 08:19] Samridhi-98 opened #95 "Adding address route with json data"
**Describe the feature**
Add address route with JSON having `dummy street data` `pin code` `city` `state` `country`.

**Tasks Todo**
- [ ] Add  json file with appropiate data in `addressData.json`.
- [ ] Add endpoint `/address` in `address.ts`.
- [ ] Add enpoint `/address/:id` in `address.ts`.

**Are you working on this feature? (Yes/No)**
Yes

[2021-04-19 08:20] Samridhi-98 commented on #95
@ShauryaAg @paramsiddharth I would like to work on this will you please assign it to me.

[2021-04-19 08:21] ritik307 opened #96 "Adding song route"
**Describe the feature**
Adding song route that provides details about the song name, songwriter, genre, link to the music video.

**Describe the solution you'd like** :zap:

- [ ] Add json file with appropiate data in `songData.json`.
- [ ] Add `/ route` - provides list of all the available songs.
- [ ] Add `/:id route` - provide the music details according to the given id.

**Are you working on

[2021-04-19 08:23] ritik307 commented on #96
@ShauryaAg @paramsiddharth  i would like to work on this issue plz assign it

[2021-04-19 15:02] ShauryaAg commented on #96
Sure. Go ahead! @ritik307. However, why did you add `[C++]` tag in the front of this issue?

[2021-04-19 15:02] ShauryaAg commented on #95
Sure! @Samridhi-98

[2021-04-19 15:11] ritik307 commented on #96
@ShauryaAg sorry! my bad 😅😅

[2021-04-20 11:46] #95 closed

[2021-04-20 13:05] #96 closed

[2021-04-21 08:23] ritik307 opened #99 "Adding routes info in the homepage"
**Describe the feature**
Add the following route info on the homepage.
- [ ] address route
- [ ] comments route
- [ ] songs route

**Are you working on this feature? (Yes)**

[2021-04-21 08:24] ritik307 commented on #99
@ShauryaAg @paramsiddharth i would like to work on this issue plz assign.

[2021-04-21 09:45] paramsiddharth commented on #99
Thank you for the issue, @ritik307 . Please go ahead!

[2021-04-21 10:05] Samridhi-98 opened #100 "File hierarchy issue with comment.json"
**Describe the bug -**
`comment.json` is present in the wrong folder i.e `routes`.

**Expected behaviour -**
`common.json` should be present in the `data`  section.

**Screenshots or screen recordings -**
![image_2021_04_21T09_59_41_673Z](https://user-images.githubusercontent.com/54466041/115536158-1b8ef280-a2b7-11eb-9b0e-229dea2a5203.png)

[2021-04-21 10:05] Samridhi-98 commented on #100
@ShauryaAg @paramsiddharth  I would like to fix it will you please assign it to me.

[2021-04-21 10:17] paramsiddharth commented on #100
Yes, please. Go ahead @Samridhi-98 .

[2021-04-21 10:45] ShauryaAg opened #101 "Add query params in songs route"
Add route to fetch `songs` by their artist, language or genre.

### Requirements
- [ ] Add route with query param `/songs?artist=xyz`
- [ ] Add route with query param `/songs?genre=xyz`
- [ ] Add route with query param `/songs?language=xyz`

[2021-04-21 10:47] ShauryaAg opened #102 "Add query params in address route"
Add route to fetch `addresses` based on city, state or country

### Requirements
- [ ] Add route with query param `/address?city=xyz`
- [ ] Add route with query param `/address?state=xyz`
- [ ] Add route with query param `/address?country=xyz`

[2021-04-21 13:46] Samridhi-98 commented on #102
@ShauryaAg  I would like to work on it, please assign it to me.

[2021-04-21 14:16] ritik307 commented on #101
@ShauryaAg @paramsiddharth I would like to work on this so kindly assign it.

[2021-04-22 17:20] #99 closed

[2021-04-24 03:17] #102 closed

[2021-04-24 15:25] #101 closed

[2021-04-24 16:59] ritik307 opened #107 "Adding endpoints information in the homepage."
**Describe the feature**
Add following endpoints information on the homepage

### /address endpoints

- [ ] `/address?city=abc`
- [ ] `/address?state=xyz`
- [ ] `/address?country=def`
- [ ] `/address?city=abc&state=xyz&country=def`

### /songs endpoints

- [ ] `/songs?artist=abc`
- [ ] `/songs?genre=def`
- [ ] `/songs?language=ghi`
- [ ] `/songs?artist=abc&genre=def&language=ghi`

**Are you workin

[2021-04-24 16:59] ritik307 commented on #107
@ShauryaAg @paramsiddharth I would like to work on this. Plz assign

[2021-04-25 06:05] subhangi2731 commented on #37
can I work on this issue?

[2021-04-25 06:06] subhangi2731 commented on #57
If this issue is open, can I work on this?

[2021-04-25 06:41] paramsiddharth commented on #57
Sure, go ahead. If @AshuKV doesn't update the PR in time, yours is welcome.

[2021-04-25 14:28] #107 closed

[2021-04-25 17:39] Samridhi-98 opened #109 "Add shows route"
**Describe the feature**
Add shows eroute with JSON having `name` `genre` `rating` `description` `seasons` .

**Tasks Todo**
- [ ] Add  json file with appropiate data in `showsData.json`.
- [ ] Add endpoint `/shows` in `shows.ts`.
- [ ] Add enpoint `/shows/:id` in `shows.ts`.

**Are you working on this feature? (Yes/No)**
Yes

[2021-04-25 17:41] Samridhi-98 commented on #109
@ShauryaAg  @paramsiddharth I would like to work on it please assign it to me.

[2021-04-25 17:43] ritik307 opened #110 "Adding Books route."
**Describe the feature**
Add anime route with JSON having `title` `author` `rating` `description` `price`.

**Tasks Todo**
- [ ] Add  json file with appropiate data in `booksdata.json`.
- [ ] Add endpoint `/books` in `books.ts`.
- [ ] Add enpoint `/books/:id` in `books.ts`.

**Are you working on this feature? (Yes)**

[2021-04-25 17:43] ritik307 commented on #110
@paramsiddharth @ShauryaAg I would like to work on this issue. Plz, assign.

[2021-04-25 17:45] ShauryaAg commented on #109
@Samridhi-98 **Anime** is a too specific topic. If you want you can add a **movies/shows** route.

[2021-04-25 17:48] Samridhi-98 commented on #109
Okay, I have updated it to shows route.

[2021-04-26 08:28] #109 closed

[2021-04-26 10:53] #110 closed

[2021-04-26 13:58] Samridhi-98 opened #113 "Update homepage UI with new routes"
Describe the feature

Add the following route info on the homepage.

- [ ]  `/shows`
- [ ]   `/shows/:id`
- [ ]  `/books`
- [ ]   `/books/:id`

Are you working on this feature? (Yes)

[2021-04-26 13:59] Samridhi-98 commented on #113
@paramsiddharth  @ShauryaAg  I would like to add this feature please assign it to me.

[2021-04-27 08:33] #113 closed

[2021-04-27 18:42] ritik307 opened #115 "Adding endpoints in books.ts"
**Describe the feature**
Adding following endpoints in `books.ts`
- [ ] /books?author=abc
- [ ] /books?price=123
- [ ] /books?name=xyz

**Are you working on this feature? (Yes)**

[2021-04-27 18:43] Samridhi-98 opened #116 "Add query params in shows route"
Add route to fetch based on genre, rating, seasons

**Tasks Todo**

- [ ] Add route with query param /shows?genre=abc
- [ ] Add route with query param /shows?rating=abc
- [ ]  Add route with query param /shows?seasons=abc

Are you working on this feature? (Yes)

[2021-04-27 18:44] Samridhi-98 commented on #116
@ShauryaAg @paramsiddharth  I would like to work on it please assign it to me.

[2021-04-27 18:44] ritik307 commented on #115
@ShauryaAg @paramsiddharth I would like to work on this plz assign

[2021-04-28 03:45] paramsiddharth commented on #116
@Samridhi-98 Please go ahead.

[2021-04-28 03:46] paramsiddharth commented on #115
@ritik307 Please go ahead.

[2021-04-28 17:29] #115 closed

[2021-04-29 02:56] #116 closed

[2021-04-29 15:45] ritik307 opened #119 "Adding endpoints info on the homepage."
**Describe the feature**
Adding following endpoints info on the homepage.
- [ ] /shows?genre=abc
- [ ] /shows?rating=def
- [ ] /shows?seasons=ghi
- [ ] /books?author=abc
- [ ]  /books?price=123
- [ ] /books?name=xyz

**Are you working on this feature? (Yes)**

[2021-04-29 15:46] ritik307 commented on #119
@paramsiddharth @ShauryaAg I would like to work on this issue Plz assign.

[2021-04-30 17:57] Samridhi-98 opened #121 "Add movies route"
**Describe the feature**
Add movies route with JSON having `title` `genre` `rating` `imgUrl` `description` .

**Tasks Todo**
- [ ] Add  json file with appropiate data in `moviesData.json`.
- [ ] Add endpoint `/movies` in `movies.ts`.
- [ ] Add enpoint `/movies/:id` in `movies.ts`.

**Are you working on this feature? (Yes/No)**
Yes

[2021-04-30 17:58] Samridhi-98 commented on #121
@ShauryaAg  @paramsiddharth  I would like to work on it please assign it to me.

[2021-04-30 18:46] #119 closed

[2021-04-30 19:26] ritik307 opened #122 "Adding products routes"
*Describe the feature*
Add `products` route with JSON having `name` `brand` `price` `image` `description` .

*Tasks Todo*
- [ ] Add  json file with appropiate data in `productData.json`.
- [ ] Add endpoint `/products` in `products.ts`.
- [ ] Add enpoint `/products/:id` in `products.ts`.

*Are you working on this feature? (Yes)*

[2021-04-30 19:26] ritik307 commented on #122
@ShauryaAg @paramsiddharth I would like to work on this issue plz assign

[2021-05-01 04:36] paramsiddharth commented on #122
@ritik307 Yes, please! Go ahead.

[2021-05-01 14:44] #122 closed

[2021-05-01 15:18] adityabisoi opened #125 "Add React to the project"
**Describe the feature**

Add React for front-end development. Setup a simple frontend folder with boilerplate code.

[2021-05-01 15:19] subhangi2731 commented on #125
can you please assign me?

[2021-05-01 15:19] adityabisoi commented on #125
@subhangi2731 Sure

[2021-05-01 18:08] Samridhi-98 opened #126 "Add sports route"
**Describe the feature**
Add sports routes specialize in different types of sports like cricket, football, hockey, etc.
Like, currently add `sports/cricket` and `sports/cricket/2` with the following key-value pairs:
`playerName`, `age`, `nationality`, `imageUrl`, `description`,`jerseyNo`

**Tasks Todo**
- [ ] Add  json file with appropiate data in `data/sports/cricketData.json`
- [ ] Add endpoint

[2021-05-01 18:09] Samridhi-98 commented on #126
@ShauryaAg @paramsiddharth I would like to work on it please assign it to me.

[2021-05-01 18:13] ritik307 opened #127 "Extending user info"
**Describe the feature**
Add following user details in the user schema

- [ ] nationality
- [ ] occupation
- [ ] age
- [ ] gender
- [ ] date of birth(DOB)

**Task TODO**
- [ ] update user schema with above-mentioned fields.
- [ ] update `user.ts` for the corresponding fields.
- [ ] update `usertest.ts` for the corresponding fields.

**Are you working on this feature? (Yes)**

[2021-05-01 18:15] ritik307 commented on #127
@paramsiddharth @ShauryaAg I would work on this issue plz assign.

[2021-05-01 18:26] #121 closed

[2021-05-03 08:07] #126 closed

[2021-05-03 08:09] #127 closed

[2021-05-03 12:44] adityabisoi opened #131 "Beautify README"
* Enhance the README, make it prettier
* Add a table of contents pointing to headers and sub-headers in README

[2021-05-03 15:17] ritik307 opened #132 "Improvise animal routes with specialization"
*Describe the feature*
Improve animal routes specializing them based on animal kingdom hierarchy as follows:
![image](https://user-images.githubusercontent.com/22374829/116894352-952bc680-ac4f-11eb-9951-b29ae8e462d8.png)

Like, currently add `animals/amphibians` and `animals/amphibians/:id` with the following key-value pairs:
`type`, `breed`, `properities`, `imageUrl`, `description`

*Tasks Todo*

[2021-05-03 15:17] ritik307 commented on #132
@ShauryaAg @paramsiddharth I would like to work on this issue plz assign.

[2021-05-04 05:08] paramsiddharth commented on #132
Yes, please. Go ahead, @ritik307 !

[2021-05-04 15:39] Samridhi-98 opened #134 "Improve sports route with specialize"
**Describe the feature**
Improve sports routes specialization like, currently add `sports/football` and `sports/football/2` with the following key-value pairs: `playerName`, `age`, `nationality`, `imageUrl`, `description`,`jerseyNo`

**Tasks Todo**
- [ ] Add  json file with appropiate data in `data/sports/footballData.json`
- [ ] Add endpoint `/sports/football` in `sports.ts`
- [ ] Add enpoint `/s

[2021-05-04 15:51] Samridhi-98 commented on #134
@ShauryaAg  @paramsiddharth  I would like to work on it please assign.

[2021-05-06 07:08] #132 closed

[2021-05-06 07:08] paramsiddharth commented on #134
@Samridhi-98 OK! You may start with the PR.

[2021-05-06 11:27] ritik307 opened #136 "Extending animal route"
**Describe the feature**
Add the remaining `category` in the animal's route and fetching data about a particular type of animal.

**Describe the solution you'd like** :zap:

- [ ] add following categories- `bird`, `reptile`, `fish`.
- [ ] add endpoint `animals/:category?type=abc`

**Are you working on this feature? (Yes)**

[2021-05-06 11:28] ritik307 commented on #136
@paramsiddharth @ShauryaAg I would like to work on this issue, plz assign

[2021-05-06 14:25] #134 closed

[2021-05-06 14:26] paramsiddharth commented on #136
@ritik307 Please go ahead!

[2021-05-06 15:37] Samridhi-98 opened #137 "Extend sports route"
**Describe the feature**
Improve sports routes specialization like, currently add `sports/football` and `sports/football/2` with the following key-value pairs: `playerName`, `age`, `nationality`, `imageUrl`, `description`,`jerseyNo`

**Tasks Todo**
- [ ] Add  json file with appropiate data in `data/sports/hockeyData.json`  &  `data/sports/basketballData.json`
- [ ] Add endpoint `/sports/:category`

[2021-05-06 15:38] Samridhi-98 commented on #137
@paramsiddharth  @ShauryaAg  I would like to work on it please assign it to me.

[2021-05-08 10:40] #137 closed

[2021-05-08 10:41] #136 closed

[2021-05-09 08:17] subhangi2731 commented on #131
can you please assign me this?

[2021-05-09 09:51] subhangi2731 opened #142 "Create homepage"
Create a homepage and add information about existing routes

[2021-05-09 09:51] subhangi2731 commented on #142
please assign me this issue

[2021-05-09 13:04] adityabisoi commented on #142
@subhangi2731 Go ahead

[2021-05-10 18:24] ritik307 opened #144 "Improvise vehicle routes into categories"
**Describe the feature**
Improvising vehicle route based on their transportation medium.

**Describe the solution you'd like** :zap:

- [ ] add transport data based on medium.
- [ ] add `vehicle/:medium`
- [ ] add `vehicle/:medium?type=car`

**Are you working on this feature? (Yes)**

[2021-05-10 18:26] Samridhi-98 opened #145 "Improvise photo route"
**Describe the feature**
Improve photo routes specialization like, currently add `photos/nature` and `photos/human` with the following key-value
`image` `description` `name` .

**Tasks Todo**
- [ ] Add  json file with appropiate data in `data/photos/naturedata.json`  &  `data/photos/humandata.json`
- [ ] Add endpoint `photos/:nature` in `photos.ts`
- [ ] Add endpoint `photos/human` in `photos.ts`

[2021-05-10 18:26] Samridhi-98 commented on #145
@ShauryaAg  @paramsiddharth  I would like to work on it please assign it to me.

[2021-05-11 01:40] adityabisoi commented on #145
As mentioned in the Discord channel, we have sufficient endpoints now, so only frontend contributions will be accepted.

[2021-05-11 01:41] adityabisoi commented on #144
As mentioned in the Discord channel, we have sufficient endpoints now, so only frontend contributions will be accepted.

[2021-05-11 12:17] ritik307 commented on #144
@adityabisoi Ok got it

[2021-05-11 12:19] Samridhi-98 commented on #145
Okay.

[2021-05-11 13:20] #57 closed

[2021-05-13 08:08] #125 closed

[2021-05-15 05:53] ritik307 commented on #37
@adityabisoi @paramsiddharth @ShauryaAg I would like to work on this Kindly assign

[2021-05-15 08:06] paramsiddharth commented on #37
@EANimesha Are you working on the PR?

[2021-05-15 08:40] srishtij2000 commented on #142
Can I work on this issue?

[2021-05-15 08:45] subhangi2731 commented on #142
@srishtij2000 I am working on this issue since I have opened this

[2021-05-15 08:45] subhangi2731 commented on #142
@adityabisoi I will send a pr by today

[2021-05-15 18:55] GuptaTanisha commented on #131
May I work on this?

[2021-05-16 06:44] adityabisoi commented on #37
@paramsiddharth Please assign this issue to @ritik307 if @EANimesha does not respond by today.

[2021-05-16 06:45] adityabisoi commented on #72
@ShauryaAg Please unassign this issue if @AshuKV does not respond today.

[2021-05-16 13:57] #72 closed

[2021-05-18 03:04] paramsiddharth commented on #142
@subhangi2731 Are you still working on it?

[2021-05-18 03:55] subhangi2731 commented on #142
@paramsiddharth I am working on it I am making it everything totally from scratch thats why its taking time Yes i am doing it in react only will make a pr by tomorrow surely I will complete it

[2021-05-18 11:16] paramsiddharth commented on #142
No worries! If it is going to take long, you can create a draft PR and continue working so that we can keep reviewing and discussing the commits.

[2021-05-18 13:15] #37 closed

[2021-05-18 13:18] subhangi2731 commented on #142
@paramsiddharth okay will do it

[2021-05-20 02:27] adityabisoi commented on #142
This issue has been stale for more than 10 days now. @paramsiddharth Please unassign @subhangi2731 if a PR is not raised by tonight.

[2021-05-20 02:45] subhangi2731 commented on #142
@adityabisoi i am sorry please forgive me

[2021-05-20 04:32] paramsiddharth commented on #142
There's nothing to apologize for, @subhangi2731 . Please create a draft PR if you haven't been able to complete it yet. We can keep track of the resolution.

[2021-05-20 11:55] subhangi2731 commented on #142
@paramsiddharth thank u for understanding I will create a pr by today anyhow if not then u can unassign me

[2021-05-25 06:33] subhangi2731 commented on #142
@adityabisoi @paramsiddharth I am facing merge conflicts in github workflows that is in linting I am not able to create a pr please check
![Screenshot from 2021-05-25 12-01-36](https://user-images.githubusercontent.com/53938490/119450160-270b8880-bd51-11eb-8ac8-8d04c7939062.png)

[2021-05-25 06:39] subhangi2731 commented on #142
@adityabisoi @paramsiddharth I am facing errors while creating a pr some conflicts please cehck what is this
![Screenshot from 2021-05-25 12-08-26](https://user-images.githubusercontent.com/53938490/119450712-f2e49780-bd51-11eb-89a5-c74d4d973d87.png)

[2021-05-25 07:26] subhangi2731 commented on #142
![Screenshot from 2021-05-25 12-55-10](https://user-images.githubusercontent.com/53938490/119456718-95a01480-bd58-11eb-88da-0d9ccc1fc756.png)

[2021-05-25 07:27] subhangi2731 commented on #142
@paramsiddharth @adityabisoi please check I am facing merge conflicts error while pulling the changes from main

[2021-05-25 14:33] paramsiddharth commented on #142
@subhangi2731 Open the file `.github/workflows/linting.yml` and click `Accept Incoming Change`. Also, please make sure your PR is clean i. e. Not too many irrelevant/unexpected commits. Reply here if you face any further issues!

[2021-05-25 15:38] subhangi2731 commented on #142
![Screenshot from 2021-05-25 21-07-08](https://user-images.githubusercontent.com/53938490/119526744-47613480-bd9d-11eb-862b-72ad227614f0.png)

[2021-05-25 15:38] subhangi2731 commented on #142
@paramsiddharth where is the option of clicking accept Incoming change

[2021-05-25 16:13] paramsiddharth commented on #142
@subhangi2731 Hmmm... Doesn't look like there are any conflicts here.

At this point, I recommend you to start from a fresh fork because too many unknown conflicts will just make it harder for you to track errors. Clone a fresh fork and start the contribution there.

[2021-05-26 02:16] subhangi2731 commented on #142
@paramsiddharth I had done that thing only deleted the repo from local and forked and cloned once again. when i am pushing my changes it is showing like this
![Screenshot from 2021-05-26 07-42-39](https://user-images.githubusercontent.com/53938490/119592561-588a5f80-bdf6-11eb-8ed8-6fada99b5ef4.png)

[2021-05-26 02:16] subhangi2731 commented on #142
it is showing unable to access

[2021-05-26 03:21] paramsiddharth commented on #142
@subhangi2731 I think you accidentally cloned the main repository instead of your fork. Use:
[code]

[2021-05-26 04:24] subhangi2731 opened #152 "Documentation on the process of setting up eslint and making the code prettier"
I will write the steps in the documentation of setting up eslint and linting the code

[2021-05-26 04:24] subhangi2731 commented on #152
@adityabisoi please assign this issue to me

[2021-05-26 14:21] subhangi2731 commented on #152
@adityabisoi please assign the level tag

[2021-05-26 14:56] adityabisoi commented on #131
@GuptaTanisha Are you working on this?

[2021-05-26 14:57] #142 closed

[2021-05-26 19:47] subhangi2731 opened #154 "Add individual unit tests for individual endpoints"
I will add unit tests for each endpoints and do the testing

[2021-05-26 19:47] subhangi2731 commented on #154
@adityabisoi please assign this issue to me

[2021-05-27 05:16] #152 closed

[2021-05-27 05:17] adityabisoi commented on #154
You may work on one endpoint at a time for this, since we have a lot of endpoints.

[2021-05-28 14:28] subhangi2731 opened #155 "Adding the links of endpoints in frontend"
I will add the links of the API routes and the endpoints made in the project in frontend

[2021-05-28 14:28] subhangi2731 commented on #155
@adityabisoi please assign this issue to me

[2021-05-28 15:06] adityabisoi commented on #155
@subhangi2731 Sure

[2021-05-30 13:03] subhangi2731 commented on #155
@adityabisoi please help me in this

[2021-05-30 13:04] subhangi2731 commented on #154
@adityabisoi please help me here how to do unit test

[2021-05-30 16:59] adityabisoi commented on #155
@subhangi2731 Sure, please discuss in the Discord channel

[2021-05-30 16:59] adityabisoi commented on #154
@subhangi2731 Sure, please discuss in the Discord channel

[2021-05-30 17:17] subhangi2731 opened #157 "change backend default port"
the default port of backend collides with that of frontend since they are the same, 3000. I wanna change it .

[2021-05-30 17:18] subhangi2731 commented on #157
@adityabisoi please assign me

[2021-05-30 18:12] adityabisoi opened #160 "Change Routes to Route"
The filesname for the file providing information about the routes to frontend is `Routes.js` which creates confusion because of it's similarity with express routes.
Change filename to `Route.js` and also it's references in other places.

[2021-05-30 18:13] #157 closed

[2021-05-30 18:14] #155 closed

[2021-05-30 18:16] subhangi2731 commented on #160
please assign me

[2021-05-31 03:08] adityabisoi commented on #160
@subhangi2731 Go ahead.

[2021-05-31 04:03] subhangi2731 opened #163 "Add unit test for home endpoint"
adding unit tests for home endpoint

[2021-05-31 04:03] subhangi2731 commented on #163
@adityabisoi please assign this issue to me

[2021-05-31 04:04] subhangi2731 opened #164 "Add unit test for route endpoint"
add unit tests for route endpoint

[2021-05-31 04:04] subhangi2731 commented on #164
@adityabisoi please assign this issue to me

[2021-05-31 06:07] adityabisoi commented on #163
Part of #154 . Closing this issue. You can make PRs for testing without create similar issues.

[2021-05-31 06:07] #163 closed

[2021-05-31 06:07] adityabisoi commented on #164
Part of #154 . Closing this issue. You can make PRs for testing without create similar issues.

[2021-05-31 06:07] #164 closed

[2021-05-31 06:23] subhangi2731 commented on #164
@adityabisoi u had only to create separate issues for different endpoints and now u closed it

[2021-05-31 13:22] subhangi2731 opened #170 "migrate _test_ folder to backend"
currently, npm test in root directory runs all the frontend and backend tests and causes errors. The backend test can be moved to src/ directory
I wanna work on this

[2021-05-31 13:22] #160 closed

[2021-05-31 13:22] subhangi2731 commented on #170
@adityabisoi please assign me this

[2021-05-31 13:24] #154 closed

[2021-06-01 00:43] a7medayman6 opened #181 "CI/CD for building and pushing docker image [GSSOC]"
**Describe the feature**
Build a CI Pipeline using GitHub Actions to build and push to DockerHub the docker image from Dockerfile when needed.

**Is your feature request related to a problem? Please describe.** :bulb:
No, just to make an easier continuous integration environment and make the docker image available on dockerhub for easier running locally or on server.

**Describe the solution you'd

[2021-06-03 23:08] a7medayman6 commented on #181
@adityabisoi Can you add docker hub credentials in the repo secrets please ?
so I can reference them in the workflow file

[2021-06-04 03:27] adityabisoi commented on #181
Sure, they are named `DOCKER_HUB_USERNAME` and `DOCKER_HUB_ACCESS_TOKEN`

[2021-06-04 14:21] #170 closed

[2021-06-04 20:09] a7medayman6 commented on #181
@adityabisoi
I have built the pipeline and made a pull request.
pull request : #182

[2021-06-05 04:01] a7medayman6 commented on #181
please merge the latest commit which is where I fixed the credentials issue mentioned in this pull request #183

[2022-01-23 17:12] adityabisoi opened #184 "Design a LOGO"
Design a new LOGO which reflects the aim of the application.

[2022-01-24 09:14] adityabisoi opened #185 "Make endpoints clickable"
**Describe the bug -**
Make endpoint methods clickable.

Ex: Clicking on `GET /photos/`, the endpoint must open in a new tab, with the URI `http://localhost:5000/photos/`

[2022-01-24 09:25] adityabisoi opened #186 "Add option to fetch data online"
On the homepage, add an option with a fixed endpoint, such as `fetch(<endpoint>)`, which on clicking a `Execute` button, would fetch data from the particular endpoint and display it on the page.

This would serve as an example of how to use the service properly in a project.

[2022-02-19 19:29] Mariosyian commented on #184
Hello, just saw this issue while GitHub surfing. Now I'm no logo designer but thought it'd be fun to give it a shot. The picture is a 1000x1000 pixel @ 300ppi
![json_hub](https://user-images.githubusercontent.com/10303302/154816085-ee95fe20-1f2b-4f9c-8487-dbcae1e36fc8.jpg)

It's meant to be an actual hub made by two curly braces, with the lines at the bottom being the ports.
The braces and the por

[2022-02-21 02:53] adityabisoi commented on #184
Hi, @Mariosyian great work with the logo! I'll add it to the project. Thank you.

[2022-02-21 03:02] #184 closed

[2022-02-27 12:02] Gurdeep475 commented on #185
I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-02-27 14:12] Shivansh-yadav13 commented on #186
I would like to contribute :)

[2022-02-28 19:06] shubhsardana29 commented on #131
I am a GSSOC'22 participant, I want to work on this issue.

[2022-02-28 19:28] neetra commented on #131
I would like to work

[2022-03-04 11:12] Shivansh-yadav13 commented on #186
@adityabisoi what endpoint should I use?

[2022-03-04 12:54] adityabisoi commented on #186
First try with one endpoint, and then make a PR.

[2022-03-11 10:41] Gurdeep475 commented on #185
@adityabisoi one way i can think of to wrap the endpoints with an a tag, any suggestions from your side?

[2022-03-12 15:30] #185 closed

[2022-03-26 18:27] adityabisoi commented on #186
@Shivansh-yadav13 Updates on this issue?

[2022-03-26 18:27] #181 closed

[2022-03-27 02:11] Shivansh-yadav13 commented on #186
@adityabisoi really sorry can you assign this to other contributors, I won't be able to work on this rn.

[2022-04-01 10:32] vakshit commented on #186
I can work on it. I just need to add a "Try out" button on the homepage so that the user can test the specific endpoint, right?

[2022-04-02 04:35] #131 closed

[2022-04-02 04:39] adityabisoi commented on #186
@vakshit Correct. Assigning to you

[2022-04-02 17:52] shubhsardana29 commented on #131
@adityabisoi please rename the label GSSoC'22 to just GSSoC22 . No special characters in Labels. Otherwise, the leaderboard won't detect the same.

[2022-04-05 11:39] vakshit commented on #186
okay.. working on it.

[2022-05-18 18:27] navyasharma0203 commented on #186
@adityabisoi Can I work on this...if not yet closed...

[2022-05-18 20:36] adityabisoi commented on #186
@navyasharma0203 Please go ahead. Bumping the level to level 3

[2022-07-30 16:48] #186 closed